@import url("./normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots {
	@apply text-center md:text-end md:pr-12;
	position: static !important;
}

@layer base {
}

@layer components {
	.overflow-overlay {
		overflow: auto;
		overflow: overlay;
	}
}